<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>ZenMaruGothic-Regular.ttf</string>
		<string>ZenMaruGothic-Medium.ttf</string>
		<string>ZenMaruGothic-Light.ttf</string>
		<string>ZenMaruGothic-Bold.ttf</string>
		<string>ZenMaruGothic-Black.ttf</string>
	</array>
    
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>バックグラウンドで位置情報を監視するために必要です</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>位置情報を取得するために必要です</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>location</string>
    </array>
</dict>
</plist>

